/**
 * Bezier Curve Animation Styles
 * 贝塞尔曲线动画样式
 */

.bezier-container {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 450px;
}

.bezier-container .canvas-wrapper {
  width: 100%;
  height: 100%;
}

.bezier-container .info-panel-container {
  position: absolute;
  top: 12px;
  left: 12px;
}

.bezier-container .legend-container {
  position: absolute;
  top: 12px;
  right: 12px;
}
